@model IEnumerable<Animals_MVC.Models.IGetAll>

@{
    ViewBag.Title = "GetAllPartial";
}

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
</table>