
@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script src="@Url.Content("~/Scripts/Controllers/SPA/index.js")"></script>
}

<h2>Index</h2>

<button id="animals">Animals</button>
<button id="homes">Homes</button>

<div class="list-container">

</div>